body {
  font-family: 'メイリオ', 'ヒラギノ角ゴ ProN W3', sans-serif;
  width: 90%;
  margin: 10px auto;
  background-color: #eafff4;
  color: #004d25;
}

h1{
  border-bottom: 2px solid #000;
}

.wrapper {
  width: 95%;
  margin: 10px auto;
}

dt {
  display: inline;
}
dd.time {
  display: inline;
  margin-left: 10px;
}

.newPost {
  background-color: #fffff9;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #004d25;
}
.newPost textarea {
  width: 80%;
  height: 3em;
  padding: 5px;
}
.newPost input[type="file"]::file-selector-button {
  border: 2px dashed #004d25;
  background-color: #bee0c2;
  cursor: pointer;
  border-radius: 5px;
}
.newPost input[type="file"]::file-selector-button:hover {
  border: 2px solid #004d25;
}
.newPost button{
  display: block;
  width: 100px;
  margin-left: auto;
  border: 2px dashed #004d25;
  background-color: #bee0c2;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 0;
}
.newPost button:hover {
  border: 2px solid #004d25;
}

.page {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0;
}
.page div {
  padding: 5px;
  width: 100%;
}
.page div.now{
  text-align: center;
}
.page div.before{
  text-align: left;
}
.page div.after{
  text-align: right;
}
.page div a {
  color: #004d25;
  border: 2px dashed #004d25;
  background-color: #bee0c2;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}
.page div a:hover{
  border: 2px solid #004d25;
}

.posts {
  padding: 20px;
  background-color: #fffff9;
  border: 1px solid #004d25;
  border-radius: 10px;
}
.posts dl {
  padding: 10px;
  margin-top: 20px;
  border: 2px dashed #004d25;
  border-radius: 10px;
}

/* detail */
h1 a {
  text-decoration: none;
  color: #004d25;
}

.post {
  border: 2px dashed #004d25;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
}
h2 {
  border-bottom: 1px solid #004d25;
}
